:root {
  --primary: #7c3aed;
}

body[data-theme="dark"] {
  --bg-dark: #0f172a;

  --card-bg: #1e293b;

  --text-color: white;

  --sidebar-color: #111827;
}

body[data-theme="light"] {
  --bg-dark: #f8fafc;

  --card-bg: white;

  --text-color: #111827;

  --sidebar-color: #e2e8f0;
}