.song-card {
  background-color: var(--card-bg);
  border-radius: 16px;
  padding: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.song-card:hover {
  transform: translateY(-5px);
  background-color: #334155;
}

.song-cover {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.song-info {
  margin-top: 12px;
}

.song-info h3 {
  color: white;
  margin-bottom: 6px;
}

.song-info p {
  color: #94a3b8;
}

.favorite-btn {
  margin-top: 8px;

  border: none;

  background: transparent;

  cursor: pointer;

  font-size: 1.2rem;
}